<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/d432cec7-996f-4fb6-b849-f9ee668183db/resourcegroups/mycontainer/providers/Microsoft.ContainerRegistry/registries/mycontainerregistry2405</ResourceId>
    <ResourceName>mycontainerregistry2405</ResourceName>
    <ResourceGroup>mycontainer</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://mycontainerregistry2405.azurecr.io/</RegistryUrl>
    <UserName>mycontainerregistry2405</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5fe87295-c41a-4801-ad28-c12bff96dabb</ProjectGuid>
  </PropertyGroup>
</Project>